.main_app {
  display: flex;
  padding-bottom: 2rem;
  transition: all .3s;
  justify-content: center;

  @media (min-width: 992px) {
    max-width: 55vw;
  }

  h1{
    color: #aaaaaa;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    padding-top: 1rem;
  }
}

.calc{
  &_header {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;

    .h3{
      font-weight: 200;
      color: #9b9b9b;
      span{
        font-weight: 500;
        color:#FFF
      }
    }
    button{
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &_body{
    display: flex;
    background: #2a2a2a;
    margin: auto;
    min-height: 70vh;
    border: 1px solid #9b9b9b;
    border-radius: 30px;
    padding: 1.5rem;

    ul{
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &_btn-wrapper{
    display: flex;
    justify-content: space-between;

    button{
      width: 50%;
      font-size: .75em;
      text-transform: uppercase;

      &.inactive{
        background-color: #484d52;
      }
    }
  }
}


// Overwrite the default bootstrap styles

.form-control{
  background-color: #2a2a2a;
  color: #cbcbcb;

  &:focus{
    background-color: #2a2a2a;
    color: #cbcbcb;
  }

  &:disabled{
    background-color: #5d5d5d;
    color: #8f8f8f;
  }
}

.form-select{
  background-color: #6c757d;
  color: #FFF
}